@import "tailwindcss";

@theme inline {
  --color-primary: #635BFF;
  --color-action: #E81E61;
  --color-success: #10B981;
  --color-bg-main: #F8FAFC;
  --color-bg-card: #FFFFFF;
  --color-text-main: #1E293B;
  --color-text-second: #64748B;
  --color-border-main: #E2E8F0;

  --color-background: var(--color-bg-main);
  --color-foreground: var(--color-text-main);
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
